# =========================================================
# Node
# =========================================================
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# =========================================================
# Build / Output
# =========================================================
dist/
build/
.out/
.next/
.vercel/
.cache/
tmp/
temp/

# =========================================================
# Environment Files
# =========================================================
.env
.env.local
.env.development
.env.production
.env.test

# =========================================================
# Logs
# =========================================================
logs/
*.log

# =========================================================
# System Files
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# Redis dumps
# =========================================================
dump.rdb
